{% set groupIndex = 1 %}
<html>
<head>
	<title>Degree Planner</title>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/js/fancybox/jquery.fancybox.js"></script>
	<link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/static/js/degree-planner.js"></script>
	<link rel="icon" 
      type="image/png" 
      href="https://github.com/waseemAtRice/rice-degree-planner/blob/master/views/degree_planner_icon.png">
</head>
<body>
	<div id="titlebar">
		<h1 id="logo">Degree Planner</h1>
		<button id="user-button">{{ net_id }}</button>
	</div>
	<div id="requirements">
		{% for degree in progress.progress_summaries %}
		<div class="degree">
			<h2>{{ progress.name }} - {{ degree.name }}</h2>
			{% for group in degree.overall_progress %}			
				{% if group.credits_taken >= group.min_credits_required %}
				<div class="group completed">
				{% else %}
				<div class="group">
				{% endif %}
					<h3>{{ group.name }}</h3>
					<div class="progressbar">
						<span class="progress group{{ groupIndex }}" style="width:{{ group.credits_taken / group.min_credits_required * 100 }}%"></span>
						<div class="check"></div>
					</div>
					
					<div class="satified-by">
						<ul>
							{% for class in group.courses_matching %}
							<li data-course-id="{{ class.key() }}">{{class.subject.code}} {{ class.number }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>	
				{% set groupIndex = groupIndex + 1 %}
			{% endfor %}
			{% set groupIndex = groupIndex + 3 %}
		</div>
		{% endfor %}
		
	</div>
	<div id="schedule">
		{% for term in terms %}
		<div class="semester" data-term="{{ term.code }}">
			<h2>{{ term.description }}</h2>
			<div class="classes">
				{% for course in term.courses %}
				<div class="class" data-course-taken-id="{{ course.taken_id }}" data-course-id="{{ course.id }}">
					<span class="name">{{ course.name }}</span>
					<span class="delete">X</span>
					<div class="group-icons">
					</div>
				</div>	
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
</body>
</html>