<html>
<head>
	<title>Degree Planner</title>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/js/fancybox/jquery.fancybox.js"></script>
	<link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/static/js/degree-planner.js"></script>
</head>
<body>
	<div id="titlebar">
		<h1 id="logo">Degree Planner</h1>
		<button id="user-button">Caleb Solano</button>
	</div>
	<div id="requirements">
		<div class="degree">
			<h2>University Requirements</h2>
			<div class="group">
				<h3>Distribution I</h3>
				<div class="progressbar">
					<span class="progress group1" style="width:25%"></span>
				</div>
				<div class="satified-by">
					<ul>
						<li>PHIL 103</li>
					</ul>
				</div>
			</div>
			<div class="group">
				<h3>Distribution II</h3>
				<div class="progressbar">
					<span class="progress group2" style="width:25%"></span>
				</div>
				<div class="satified-by">
					<ul>
						<li>ECON 201</li>
					</ul>
				</div>
			</div>
			<div class="group">
				<h3>Distribution III</h3>
				<div class="progressbar">
					<span class="progress group3" style="width:100%"></span>
				</div>
				<div class="satified-by">
					<ul>
						<li>COMP 140</li>
						<li>COMP 215</li>
						<li>COMP 322</li>
						<li>COMP 221</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="degree" data-degree="65123">
			<span class="delete">X</span>
			<h2>Computer Science Degree Requirements</h2>
			<div class="group">
				<h3>Math</h3>
				<div class="progressbar">
					<span class="progress group4" style="width:50%"></span>
				</div>
				<div class="satified-by">
					<ul>
						<li>CALC 101</li>
						<li>CALC 102</li>
					</ul>
				</div>
			</div>
			<div class="group">
				<h3>Theory</h3>
				<div class="progressbar">
					<span class="progress group5" style="width:5%"></span>
				</div>
				<div class="satified-by">
					<ul>
					</ul>
				</div>
			</div>
			<div class="group">
				<h3>Parallel Programming</h3>
				<div class="progressbar">
					<span class="progress group6" style="width:75%"></span>
				</div>
				<div class="satified-by">
					<ul>
						<li>COMP 322</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="schedule">
		<div class="semester">
			<h2>Transfer Credit</h2>
			<div class="classes">
				<div class="class" data-course="ABC">
					<span class="name">PSYC 101</span>
					<span class="delete">X</span>
					<div class="group-icons">
						<span class="group-icon group2">3</span>
					</div>
				</div>
				<div class="class" data-course="XYZ">
					<span class="name">CALC 101</span>
					<span class="delete">X</span>
					<div class="group-icons">
						<span class="group-icon group2">3</span>
						<span class="group-icon group3">3</span>
						<span class="group-icon group4">3</span>
					</div>
				</div>
				<div class="class" data-course="IJK">
					<span class="name">CALC 102</span>
					<span class="delete">X</span>
					<div class="group-icons">
						<span class="group-icon group2">3</span>
						<span class="group-icon group3">3</span>
						<span class="group-icon group4">3</span>
					</div>
				</div>
			</div>
		</div>
		<div class="semester">
			<h2>Fall 2010</h2>
			<div class="classes">
				<div class="class" data-course="XYZ">
					<span class="name">COMP 140</span>
					<span class="delete">X</span>
					<div class="group-icons">
						<span class="group-icon group3">4</span>
					</div>
				</div>
				<div class="class" data-course="XYZ">
					<span class="name">COMP 215</span>
					<span class="delete">X</span>
					<div class="group-icons">
						<span class="group-icon group3">4</span>
					</div>
				</div>
				<div class="class" data-course="XYZ">
					<span class="name">PHIL 103</span>
					<span class="delete">X</span>
					<div class="group-icons">
						<span class="group-icon group1">3</span>
					</div>
				</div>
			</div>
		</div>
		<div class="semester">
			<h2>Spring 2011</h2>
			<div class="classes">
				<div class="class" data-course="XYZ">
					<span class="name">COMP 322</span>
					<span class="delete">X</span>
					<div class="group-icons">
						<span class="group-icon group3">4</span>
						<span class="group-icon group6">4</span>
					</div>
				</div>
				<div class="class" data-course="XYZ">
					<span class="name">COMP 221</span>
					<span class="delete">X</span>
					<div class="group-icons">
						<span class="group-icon group3">4</span>
					</div>
				</div>
				<div class="class" data-course="XYZ">
					<span class="name">ECON 201</span>
					<span class="delete">X</span>
					<div class="group-icons">
						<span class="group-icon group2">3</span>
					</div>
				</div>
			</div>
		</div>
		<div class="semester">
			<h2>Fall 2011</h2>
			<div class="classes">
			</div>
		</div>
		<div class="semester">
			<h2>Spring 2012</h2>
			<div class="classes">
		</div>
	</div>
</div>
</body>
</html>