body{
	background:url('http://subtlepatterns.com/patterns/debut_light_@2X.png');
	padding-top:50px;
	font-family: Arial, Helvetica, sans-serif;
}
#logo{
	padding-top: 10px;
	padding-left: 10px;
	margin: 0px;
}
#titlebar{
	background:#002469;
	/*url('http://subtlepatterns.com/patterns/escheresque_ste.png');*/
	color: #dfdfdf;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
}
#titlebar #user{
	position:absolute;
	right:0px;
	line-height:50px;
	top:0px;
	padding:0px 10px;
	color:#FFF;
	text-decoration:none;
}

#requirements{
	float:right;
	width:300px;
}

#schedule{
	background:#FFF;
	margin-right:310px;
	background:rgba(94, 96, 98, 0.5);
	border-radius:5px;
	padding:10px;
	
}
.biggroup{
	padding:10px;
	margin-bottom:10px;
	background:rgba(94, 96, 98, 0.5);
	border-radius:5px;
	font-size: 12px;
}
.biggroup h2{
	padding:3px;
	margin:0px 0px 10px 0px;
	color:#FFF;
	position:relative;
	font-size: 14px;
}
.progressbar{
	display:block;
	height:12px;
	border:solid 1px #CCC;
}
.progressbar .progress{
	display:block;
	height:12px;
}
.group-icon{
	display:inline-block;
	border-radius:5px;
	padding:2px 4px;
	font-size:11px;
	color:#FFF;
}

.group0{background-color:#ffffff;}
.group1{background-color:#ff4c00;}
.group2{background-color:#ff9640;}
.group3{background-color:#ffdd40;}
.group4{background-color:#9ff33d;}
.group5{background-color:#3f92d2;}
.group6{background-color:#0e53a7;}

.group{
	padding:10px;
	background:#FFF;
	border-radius:5px;
	margin-bottom:10px;
}
.group:last{
	margin-bottom:0px;
}

.group h3{
	position:relative;
	padding:0px;
	margin:0px;
}


.semester{
	border-top:dashed 1px #CCC;
	padding:10px;
	background:#FFF;
}
.semester h2{
	padding:0px;
	margin:0px;
	font-style:italic;
	font-size:16px;
}

.semester:first-child{
	border-top:none;
}

.semester .classes{
	padding:0px;
	margin:0px;
}

.semester .classes .add-class-button{
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	height:53px;
}

.semester .classes .class{
	display:inline-block;
	vertical-align: middle;
	padding: 10px;
	color: #000;


	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px;
	text-decoration:none;

}
.semester .classes .class .name{
	padding: 0px 20px;
	text-shadow:1px 1px 0px #528ecc;
}

.semester .classes .class .group-icons{
	vertical-align: middle;
	padding: 2px;
	background:#FFF;
	border-radius:5px;
}

.popup-title{display:block;border-bottom:solid 1px #CCC;}
#search{display:block; width:200px;font-size: 20px; padding:5px;border-radius:5px; border:solid 1px #CCC;}
#search-container{padding:10px;}
.note{font-size:10px;}
#add-class-popup{text-align:center;}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
.button:active {
	position:relative;
	top:1px;
}